/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.navbar-inverse {
  background-color: white;
  border-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  margin-top: -24px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #071970;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  margin-top: -24px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #a5170f;
  background-color: transparent;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/roadShow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  margin-bottom: 0px;
  padding-top: 130px;
  padding-bottom: 250px;
}

.jumbotron p {
  color: white;
  font-weight: 200;
  padding-top: 20px
}

.container{
  text-align: center;
}

.container h1 {
  font-family: 'Arvo', serif;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white
}

#pageTitle{
  color: #a5170f;
  font-family: 'Arvo', serif;
  margin-top: 100px;
}

#location{
  color: #a5170f;
  font-family: 'Arvo', serif;
  margin-top: 90px;
  margin-bottom:0px
}

#dates2{
  margin-bottom: 71px;
}

.reasons{
  color: #a5170f;
  font-family: 'Arvo', serif;
  text-transform: uppercase
}

#dates{
  background-color: #f5f5f5;
  padding-bottom: 90px;
}

.explanation {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 80px
}
ul.nav {
  font-family: 'Arvo', serif;
  font-size: 13px
}

.btn-lg {
  font-size: 24px;
  margin-top: 40px;
  background-color:#a5170f;
  border-color: #a5170f

}

.btn-danger:hover {
  color: #fff;
  background-color: #071970;
  border-color: #071970;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 6px 15px;
  font-size: 18px;
  line-height: 20px;
}

.fab{
  color: white
}

.page-footer{
  background-color:#a5170f;
  padding-top: 30px;
  padding-bottom: 30px
}

.footer-copyright{
  color:white
}

.list-inline-item{
  color: white
}

.siteLink{
  color: white
}

.siteLink:hover{
  color: #071970
}

.navbar-inverse .navbar-toggle {
  border-color: #071970;
  background-color: #071970
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #a5170f;
  border-color: #a5170f;
}

.datesAndLocation{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 380px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  border: 2px solid #071970;
  background-color: white;
}

.column p{
  font-weight: 400;
    font-size: 16px;
}

.column h2 {
  color:#071970
}

#columnTwo a{
  color:#071970
}

#columnOne p {
  color:#071970
}

#columnTwo a:hover{
text-decoration: none;
color: #a5170f
}


.footer-copyright a:hover {
  color: #071970;
  text-decoration: none
}


/* @media(min-width: 1800){
  .jumbotron{
    padding-bottom: 360px;
  }
} */


#wheresRon {
  max-width: 100%;
  height: auto;
  display: inline-block;
  /* margin-bottom: 80px; */
}

#explanation{
  margin-bottom: 0px
}

#trackRon{
  font-size: 24px;
  background-color: #a5170f;
  border-color: #a5170f;
  margin-bottom: 70px
}

#trackRon:hover {
  color: #fff;
  background-color: #071970;
  border-color: #071970;
}